/* Popover styling */

a {
    text-decoration: none;
}

.popover__title {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding: 15px 0;
}

.popover__wrapper {
    position: relative;
    margin-top: 1.5rem;
}

.popover__content {
    background-color: #424242;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    left: 90%;
    top: 60px;
    border-style: solid;
    border-width: 10px 10px 0px 10px;
    border-color: #424242 transparent #424242 transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover__wrapper .popover__content {
    border-radius: 5px;
    height: 60px;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 0px;
}