@media screen and (max-width: 370px) {
    .submit-btn {
        margin-right: 30px;
    }

    .card-body {
        padding-right: 0px;
    }
}

@media screen and (max-width: 320px) {
    .nf-btn-right {
        margin-right: 0px;
    }

    .nf-btn-left {
        margin-right: 0px;
    }


}