body {
    color: gray;
    font-family: 'Merriweather Sans', sans-serif;

}

.main-container {
    padding-top: 10px;
    max-width: 700px;

}

.m-card {
    border-radius: 0px;
    min-height: 35vh;
}

.progress {
    border-radius: 0px;
}

.progress-bar {
    background-color: #F15E33
}

.inner-form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.inner-form-container>* {
    margin: 10px
}

.input-group {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.input-group-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 50;
    min-width: 120px;
    height: 70px;
    justify-content: start;
    align-items: center;

}

.dollar-icon {
    font-size: 24px;
    color: gray;
}

input {
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    border: 0px transparent;
}

.btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nf-btn {
    background: #FAFAFA;
    border: 1px solid #DCDCDC;

}

.nf-btn-left {
    margin: 15px 10px 10px 0px;
    color: #777777;
}

.nf-btn-right {
    margin: 15px 0px 10px 10px;
    color: #777777;

}

.submit-btn {
    flex: 50;
    min-width: 120px;
    background-color: #1DB82E;
    border-color: #1DB82E;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 70px;
}

.left-sp {
    color: #F15E33;
    font-weight: bold;
}

.left-p .note {
    font-size: 20px;
}

.donor-count {
    font-weight: bold;
}